/build*
/install*
/docker_build
tags
TAGS
.vscode
.idea
compile_commands.json
.cache/
#*
*~
.DS_Store
__pycache__
lit.site.cfg.py

# Local scratch / simulator artifacts
.tmp/
xcelium.d/
xrun.history
xrun.log
xrun.key
*.swp
*.vcd
formal-results-*/
formal-results-*

# Pip artifacts
/lib/Bindings/Python/build
*.egg-info
*.whl

# External software
/ext
